.exclusive{
    background: url('img/bg/bg_3.jpg') center center/cover no-repeat;
    min-height: 216px;
    position: relative;
    @include m768(){
      min-height: 316px;
        margin-top: 150px;
    }
    @include m992(){
      min-height: 516px;
        margin-top: 200px;
    }
    .container{
        margin-top: 100px;
       
        
    }
    &_btn{
        width: 114px;
        background-color: $color_red;
        color: $color_white;
        &:hover{
            background-color: $color_white;
            color: $color_red;
        }
        position: absolute;
        left: 40%;
        top: 65%;
        @include m768(){
            left: 45%;
              
        }
}
}